# This file represents the baseline of the mysqld_multi configuration used in silver

[mysqld_multi]

mysqld = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin

#######################################################################
# The declaration below defines the example project database 'community'.
# The MySQL server uses a Logical volume located in /dev/db/community,
# and autofs mounts it at /var/lib/mysql/community
# All camps in the 'community' project clone this database
# using 'ag camp refresh --db'
# Altering the information below is allowed, but can cause issues for
# any camps related to this project.
#
# BE VERY CAREFUL WHEN ADDING / EDITING PROJECT DATABASES
# Simply put, copying the stanza below and altering it to meet your
# new project is the easiest way to add a project database.  
#######################################################################

[mysqld999]
datadir = /var/lib/mysql/community
socket = /var/lib/mysql/community/mysql.sock
pid-file = /var/run/mysqld/community.pid
user = mysql
port = 3999
log-error=/var/log/mysql-999.log

#### DO NOT ALTER BEYOND THIS LINE ############
# UNLESS YOU REALLY KNOW WHAT YOU ARE DOING
# THE RISK IS ALL YOURS AND YOU COULD EXPLODE!
# BEWARE, THE UNIVERSE IS WATCHING YOU!!!
###############################################

